.place__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  color: #fff;
}

@media screen and (max-width: 896px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }
}
@media screen and (max-width: 725px) {
  .place__title {
    padding: 0 16px;
  }
}
@media screen and (max-width: 544px) {
  .place__title {
    font-size: 32px;
    line-height: 1.09;
  }
}