.photo-grid {
  padding: 92px 16px 0;
  max-width: 1184px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
  }
}
@media screen and (max-width: 768px) {
  .photo-grid {
    padding-top: 88px;
    max-width: 720px;
  }
}
@media screen and (max-width: 425px) {
  .photo-grid {
    padding-top: 64px;
  }
}