.menu__wrapper {
  display: flex;
  gap: 18px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 725px) {
  .menu__wrapper {
    flex-direction: column;
    gap: 32px;
  }
}