.header {
  max-width: 1184px;
  margin: 0 auto;
  padding: 28px 48px 0;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 28px 24px 0;
  }
}
@media screen and (max-width: 425px) {
  .header {
    padding: 16px 16px 0;
  }
}