.header {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Inter", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  padding: 0 48px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

@media screen and (max-width: 896px) {
  .header {
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media screen and (max-width: 544px) {
  .header {
    padding-right: 16px;
    padding-left: 16px;
  }
}