.intro {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Inter", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 984px;
}

@media screen and (max-width: 1152px) {
  .intro {
    max-width: 928px;
  }
}
@media screen and (max-width: 980px) {
  .intro {
    padding: 0 24px;
  }
}
@media screen and (max-width: 544px) {
  .intro {
    padding-right: 16px;
    padding-left: 16px;
  }
}