.lead__subtitle {
  max-width: 640px;
  margin: 32px auto 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    margin-top: 16px;
    font-size: 5vw;
    line-height: 1.25;
  }
}