.lead__img {
  display: block;
  width: 100%;
  margin: 64px auto 0;
  object-fit: contain;
}

@media screen and (max-width: 1024px) {
  .lead__img {
    margin-top: 56px;
  }
}
@media screen and (max-width: 425px) {
  .lead__img {
    margin-top: 40px;
  }
}