.lead__caption {
  margin: 8px 0 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #fff;
}

@media screen and (max-width: 980px) {
  .lead__caption {
    padding-left: 24px;
  }
}
@media screen and (max-width: 544px) {
  .lead__caption {
    padding-left: 16px;
  }
}