.intro__article-title {
  margin: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  color: #fff;
}

@media screen and (max-width: 544px) {
  .intro__article-title {
    max-width: 288px;
    font-size: 32px;
    line-height: 1.09;
  }
}