.button {
  font-family: "Inter", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  width: 32px;
  height: 28px;
  cursor: pointer;
  background-color: #2a2c2f;
  border: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  color: #fff;
  transition: opacity 0.5s;
}

@media screen and (max-width: 544px) {
  .button {
    width: 22px;
    height: 20px;
    font-size: 18px;
    line-height: 1.11;
  }
}